<button><a href="{% url 'home' %}">Home</a></button> |
<button><a href="{%  url 'logout' %}">Login</a></button>|
<button><a href="{%  url 'signup' %}">Signup</a></button>|
<button><a href="{%  url 'logout' %}">Logout</a></button>|
<button><a href="{%  url 'add_tweet' %}">Tweet</a></button>|
<button><a href="/user/{{user.id}}">Profile</a></button>|
<button><a href="/notification/">Notifications</a></button>


<h1>Notification page</h1>

{% for notification in notifications %}

{{notification.id}}

{{notification.user}}


{{notification.text}}

{% endfor  %}
